[alias]
    # Make some things prettier.
    grep = grep --break --heading
    lg = log --oneline --graph --decorate

    # Convenience.
    s = status --short

    # Delete branches that have been deleted on the remote (e.g. closed PRs in GitHub).
    gone = ! "git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D"

[color]
    ui = true

# Use a template for the commit message.
[commit]
    template = ~/.git-commit-msg

[core]
    editor = vim
    excludesfile = ~/.gitignore
    autocrlf = input

[diff]
    relative = true

[fetch]
    prune = true

[grep]
    lineNumber = true

[help]
    autocorrect = 1

# Local configuration.
[include]
    path = ~/.gitconfig.local

# Configurations for tools installed with qaz.
[include]
    path = ~/.gitconfig.diff-so-fancy

[merge]
    conflictStyle = diff3

[pull]
    rebase = true

[push]
    default = simple

[submodule]
    recurse = true

# Use ssh for GitHub.
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
